In [101]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

### 1. Cleaning Scraped Data

In [102]:
df = pd.read_csv('datasets/glassdoor_jobs.csv')
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [103]:
df.shape

(956, 15)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

In [105]:
df.describe()

       Unnamed: 0      Rating      Founded
count  956.000000  956.000000   956.000000
mean   477.500000    3.601255  1774.605649
std    276.117729    1.067619   598.942517
min      0.000000   -1.000000    -1.000000
25%    238.750000    3.300000  1937.000000
50%    477.500000    3.800000  1992.000000
75%    716.250000    4.200000  2008.000000
max    955.000000    5.000000  2019.000000

In [106]:
kf = df['Salary Estimate'] == '-1'
df[kf].shape

(214, 15)

seems like the null values are registered as negative ones, let's get rid of them

In [107]:
df = df[~kf]
df.shape

(742, 15)

In [108]:
df.isnull().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

Removing '(Glassdoor est.)' from salary column

In [109]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [110]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('K', '').replace('$', ''))
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

#### Certain salary estimates seem to be in per hour rate, let's create a new feature that will encode whether this is true for a given entry

In [111]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly
0,0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0
1,1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0
3,3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0
4,4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0

#### same for the 'employer provied salary' remark

In [112]:
df['employer'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary'
                                             in x.lower() else 0)
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer
0,0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0
1,1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
3,3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
4,4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0

In [113]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.lower().replace('per hour', '')
                                  .replace('employer provided salary:', ''))
df['Salary Estimate'].unique()

array(['53-91 ', '63-112 ', '80-90 ', '56-97 ', '86-143 ', '71-119 ',
       '54-93 ', '86-142 ', '38-84 ', '120-160 ', '126-201 ', '64-106 ',
       '106-172 ', '46-85 ', '83-144 ', '102-190 ', '67-137 ', '118-189 ',
       '110-175 ', '64-111 ', '81-130 ', '73-119 ', '86-139 ', '63-105 ',
       '109-177 ', '63-110 ', '75-124 ', '34-61 ', '72-120 ', '93-149 ',
       '85-140 ', '77-135 ', '82-132 ', '83-137 ', '115-180 ', '74-138 ',
       '64-112 ', '68-129 ', '52-113 ', '110-150', '150-160', '158-211 ',
       '20-39 ', '56-117 ', '63-99 ', '68-114 ', '41-95 ', '86-144 ',
       '80-139 ', '56-95 ', '120-189 ', '111-176 ', '84-146 ', '107-172 ',
       '49-85 ', '61-109 ', '88-148 ', '60-99 ', '41-72 ', '96-161 ',
       '65-130 ', '52-81 ', '139-220 ', '50-102 ', '85-139 ', '74-122 ',
       '99-157 ', '79-222 ', '57-118 ', '86-141 ', '94-154 ', '37-76 ',
       '100-160 ', '55-100 ', '60-114 ', '39-68 ', '64-107 ', '31-65 ',
       '34-62 ', '117-231 ', '79-134 ', '52-93 ', '55-116 ', '72-123 ',
       '74-124 ', '40-73 ', '102-164 ', '89-153 ', '61-110 ', '65-110 ',
       '200-275', '68-123 ', '80-129 ', '39-71 ', '38-85 ', '121-193 ',
       '54-102 ', '102-163 ', '76-140 ', '60-101 ', '82-133 ', '65-125 ',
       '91-148 ', '95-173 ', '77-124 ', '80-135 ', '85-159 ', '80-105',
       '43-81 ', '29-50 ', '26-55 ', '61-118 ', '60-102 ', '112-182 ',
       '51-112 ', '113-223 ', '72-129 ', '71-123 ', '120-145', '80-120 ',
       '80-130 ', '59-115 ', '71-136 ', '81-167 ', '71-204 ', '75-125 ',
       '77-136 ', '74-123 ', '44-78 ', '65-148 ', '59-110 ', '85-134 ',
       '124-204 ', '131-207 ', '110-174 ', '52-101 ', '81-133 ',
       '132-211 ', '74-140 ', '100-190 ', '43-80 ', '17-24 ', '91-149 ',
       '42-82 ', '116-185 ', '59-116 ', '48-95 ', '31-72 ', '105-198 ',
       '98-182 ', '73-124 ', '200-250', '21-34 ', '117-206 ', '111-183 ',
       '81-159 ', '83-166 ', '114-182 ', '42-76 ', '114-179 ', '60-123 ',
       '100-166 ', '108-173 ', '48-93 ', '54-115 ', '60-127 ', '90-179 ',
       '138-224 ', '190-220', '35-62 ', '18-25 ', '39-66 ', '42-86 ',
       '69-127 ', '40-68 ', '49-113 ', '75-140 ', '66-112 ', '76-125 ',
       '44-86 ', '15-25 ', '53-92 ', '65-120 ', '60-103 ', '53-105 ',
       '33-62 ', '48-90 ', '34-64 ', '66-111 ', '91-138 ', '62-114 ',
       '71-129 ', '74-119 ', '55-97 ', '15-16', '61-106 ', '127-199 ',
       '74-126 ', '33-72 ', '37-63 ', '67-119 ', '72-117 ', '78-126 ',
       '116-194 ', '83-133 ', '45-82 ', '83-135 ', '70-122 ', '70-132 ',
       '54-101 ', '68-112 ', '42-74 ', '95-161 ', '76-126 ', '108-176 ',
       '130-208 ', '37-68 ', '52-99 ', '105-173 ', '71-134 ', '39-82 ',
       '88-162 ', '55-99 ', '67-117 ', '92-150 ', '116-209 ', '38-82 ',
       '85-90', '62-119 ', '84-136 ', '52-89 ', '65-119 ', '63-101 ',
       '127-202 ', '31-57 ', '75-143 ', '105-194 ', '45-86 ', '95-154 ',
       '80-148 ', '36-62 ', '50-92 ', '67-135 ', '42-80 ', '68-139 ',
       '34-92 ', '54-71 ', '65-124 ', '109-200 ', '61-113 ', '43-86 ',
       '74-149 ', '113-196 ', '97-160 ', '24-39 ', '102-172 ', '108-171 ',
       '76-142 ', '202-306 ', '49-97 ', '65-134 ', '32-59 ', '87-158 ',
       '107-173 ', '56-99 ', '25-28 ', '80-155 ', '43-98 ', '45-78 ',
       '44-96 ', '50-110 ', '61-119 ', '100-140', '56-91 ', '101-158 ',
       '125-210 ', '43-77 ', '139-221 ', '78-147 ', '37-66 ', '38-64 ',
       '43-82 ', '90-110', '93-151 ', '40-101 ', '97-180 ', '81-134 ',
       '84-157 ', '121-203 ', '52-85 ', '81-140 ', '83-148 ', '31-55 ',
       '102-178 ', '110-130', '48-85 ', '66-123 ', '92-146 ', '21-29 ',
       '10-17 ', '150-239 ', '52-91 ', '82-129', '47-101 ', '49-76 ',
       '43-88 ', '124-199 ', '97-181 ', '100-173 ', '53-96 ', '65-96 ',
       '75-127 ', '94-139 ', '176-289 ', '92-149 ', '118-188 ',
       '108-146 ', '65-106 ', '55-98 ', '94-162 ', '63-120 ', '126-228 ',
       '80-134 ', '85-142 ', '87-140 ', '76-127 ', '54-92 ', '61-100 ',
       '112-179 ', '63-111 ', '75-126 ', '110-184 ', '76-145 ', '70-118 ',
       '94-153 ', '150-180 ', '42-77 ', '47-85 ', '62-112 ', '64-108 ',
       '89-144 ', '55-105 ', '135-211 ', '57-80 ', '129-215 ', '63-127 ',
       '50-89 ', '71-124 ', '69-121 ', '150-238 ', '77-132 ', '59-112 ',
       '35-65 ', '79-147 ', '119-187 ', '90-157 ', '32-62 ', '116-208 ',
       '102-165 ', '91-159 ', '80-133 ', '39-69 ', '27-48 ', '36-71 ',
       '130-206 ', '99-178 ', '86-137 ', '37-100 ', '58-111 ', '72-133 ',
       '61-126 ', '95-160 ', '33-61 ', '69-119 ', '67-127 ', '66-117 ',
       '50-98 ', '90-153 ', '100-135', '42-79 ', '84-153 ', '44-73 ',
       '40-87 ', '72-142 ', '74-137 ', '57-109 ', '136-208 ', '171-272 ',
       '65-126 ', '118-228 ', '113-182 ', '58-104 ', '58-108 ', '81-161 ',
       '115-220 ', '71-144 ', '32-57 ', '79-136 ', '48-113 ', '27-47 ',
       '68-125 ', '39-67 ', '71-135 ', '61-123 ', '87-141 ', '71-121 ',
       '72-121 ', '51-88 ', '101-141 ', '79-127 ', '81-132 ', '120-140',
       '65-113 ', '59-125 ', '80-142 ', '62-113 '], dtype=object)

In [114]:
df['min_salary'] = df['Salary Estimate'].apply(lambda x: int(x.split('-')[0] + '000'))
df['max_salary'] = df['Salary Estimate'].apply(lambda x: int((x.split('-')[1]).strip() + '000'))
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer,min_salary,max_salary
0,0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53000,91000
1,1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63000,112000
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80000,90000
3,3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56000,97000
4,4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86000,143000

In [115]:
df = df.drop('Salary Estimate', axis=1)

In [116]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 955
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         742 non-null    int64
 1   Job Title          742 non-null    object
 2   Job Description    742 non-null    object
 3   Rating             742 non-null    float64
 4   Company Name       742 non-null    object
 5   Location           742 non-null    object
 6   Headquarters       742 non-null    object
 7   Size               742 non-null    object
 8   Founded            742 non-null    int64
 9   Type of ownership  742 non-null    object
 10  Industry           742 non-null    object
 11  Sector             742 non-null    object
 12  Revenue            742 non-null    object
 13  Competitors        742 non-null    object
 14  hourly             742 non-null    int64
 15  employer           742 non-null    int64
 16  min_salary         742 non-null    int64
 17  max_salary         742 non-null    int64
dtypes: float64(1), int64(6), object(11)
memory usage: 110.1+ KB
None

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer,min_salary,max_salary
0,0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53000,91000
1,1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63000,112000
2,2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80000,90000
3,3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56000,97000
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86000,143000

In [117]:
df['avg_salary'] = (df['min_salary'] + df['max_salary']) / 2
df.head()

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer,min_salary,max_salary,avg_salary
0,0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53000,91000,72000.0
1,1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63000,112000,87500.0
2,2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80000,90000,85000.0
3,3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56000,97000,76500.0
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86000,143000,114500.0

#### Salary column is done, now let's clean 'company name' so that the only value remaining is merely a company name

In [118]:
df['Company Name'].unique()

array(['Tecolote Research\n3.8',
       'University of Maryland Medical System\n3.4', 'KnowBe4\n4.8',
       'PNNL\n3.8', 'Affinity Solutions\n2.9', 'CyrusOne\n3.4',
       'ClearOne Advantage\n4.1', 'Logic20/20\n3.8',
       'Rochester Regional Health\n3.3', '<intent>\n4.6', 'Wish\n3.5',
       'ManTech\n4.1', 'Walmart\n3.2', 'Yesler\n4.1',
       'Takeda Pharmaceuticals\n3.7', 'Audible\n3.6',
       'Blueprint Medicines\n3.9', 'h2o.ai\n4.3', 'Nuna\n4.2',
       'Pinnacol Assurance\n4.0', 'Porch\n3.2', 'Health IQ\n3.9',
       'Truckstop.com\n3.8', 'SMC 3\n4.3', 'Novetta\n4.0', 'Pfizer\n4.0',
       'First Tech Federal Credit Union\n3.5',
       'The Hanover Insurance Group\n3.7', 'Amrock\n3.6', 'Novartis\n3.8',
       'Juniper Networks\n3.8', 'New England Biolabs\n4.7',
       'Clarity Insights\n4.2', 'Esri\n3.5',
       'Systems & Technology Research\n4.7', 'Sartorius\n3.5',
       'Lancer Insurance\n3.5', 'Sauce Labs\n4.2', 'Persivia\n3.6',
       'Edgewell Personal Care\n3.4', 'Equity Residential\n4.3',
       'BPA Services\n5.0', 'Visa Inc.\n3.7', 'Intrado\n3.1',
       'Centauri\n4.7', 'Caterpillar\n3.7', 'Zimmerman Advertising\n3.8',
       'Liberty Mutual Insurance\n3.3', 'Torch Technologies, Inc.\n4.6',
       'Swiss Re\n3.7', 'Northrop Grumman\n3.7', 'Netskope\n4.1',
       '1904labs\n4.7', 'The David J. Joseph Company\n4.4',
       'USEReady\n4.3', 'Bill.com\n3.8',
       'Pacific Northwest National Laboratory\n3.8',
       "DICK'S Sporting Goods - Corporate\n3.8", 'Berg Health\n2.8',
       'Oversight Systems\n4.7', 'C Space\n3.1', 'Numeric, LLC\n3.2',
       'HP Inc.\n4.0', 'SpringML\n4.4', 'Grainger\n3.6',
       'EAG Laboratories\n2.7', 'The Buffalo Group\n3.9', 'Carmeuse\n3.1',
       'GNS Healthcare\n1.9', 'Peraton\n3.3', 'Pactera\n4.4', 'Nurx\n3.9',
       'webfx.com\n4.7',
       'Johns Hopkins University Applied Physics Laboratory\n4.5',
       'Productive Edge\n4.3', 'Excella Consulting\n4.0', 'Gensco\n4.4',
       'goTRG\n4.2', 'NMR Consulting\n4.5', 'iSeatz\n3.5',
       'Nektar Therapeutics\n3.5', 'TransUnion\n3.9', 'IT Concepts\n4.7',
       'Scientific Research Corporation\n4.2',
       'General Dynamics Information Technology\n3.4', 'MITRE\n3.2',
       'DentaQuest\n3.1', 'Redjack\n4.1', '7Park Data\n3.8',
       'Rapid Response Monitoring\n4.7', 'Trilogy Ed\n4.3', 'Gallup\n4.2',
       'CapTech\n3.9', 'American Axle & Manufacturing\n3.3',
       'CentralReach\n4.7', 'Integrate\n4.3', 'Boys Town Hospital\n2.9',
       'Demandbase\n4.5', 'Sapphire Digital\n3.4', 'Formation\n3.2',
       'Autodesk\n4.0', "Beck's Hybrids\n4.6", 'DrFirst\n2.8',
       'Object Partners\n4.7', 'L.A. Care Health Plan\n3.0',
       'Red Ventures\n3.2', 'Quick Base\n4.4',
       'The E.W. Scripps Company\n3.5', 'Upside Business Travel\n4.0',
       'Synagro\n2.3', 'Alliance Source Testing\n4.0',
       'Accuride International\n3.6', 'Full Potential Solutions\n3.8',
       'Maven Wave Partners\n4.4',
       'First Command Financial Services, Inc.\n3.2', 'Pharmavite\n2.9',
       'BioMarin Pharmaceutical\n3.8', 'Stratagem Group\n4.3',
       'PA Consulting\n3.4', 'Gridiron IT\n5.0',
       'Evolve Vacation Rental\n3.7',
       'The Church of Jesus Christ of Latter-day Saints\n4.2',
       'Maximus Real Estate Partners\n4.3',
       'Software Engineering Institute\n2.6', 'AVANADE\n3.9',
       'PatientPoint\n3.8', 'BlueCross BlueShield of Tennessee\n3.8',
       'KSM Consulting\n4.4', 'Cogo Labs\n3.9', 'Church & Dwight\n3.4',
       'MassMutual\n3.6', 'Genentech\n3.9',
       'Legal & General America\n3.8', 'Western Digital\n3.5',
       'Sunovion\n3.5', 'National Student Clearinghouse\n2.9',
       'Tower Health\n3.6', 'State of Wisconsin Investment Board\n2.7',
       'Rubius Therapeutics\n4.4', 'OneMagnify\n4.3', 'IZEA\n4.2',
       'Vionic Group\n3.6', 'Dodge Data & Analytics\n2.8',
       'Plymouth Rock Assurance\n3.3', 'CA-One Tech Cloud',
       'Beebe Healthcare\n3.6', 'Argo Group US\n3.4',
       'Associated Electric Cooperative\n4.1', 'PennyMac\n3.2',
       'Zest AI\n3.9', 'DECISIVE ANALYTICS Corporation\n4.7',
       'Karyopharm Therapeutics Inc.\n2.9', 'Tempus Labs\n3.0',
       'Recursion Pharmaceuticals\n4.7', 'P2 Energy Solutions\n3.7',
       'ClearEdge\n4.0', 'Tapjoy\n3.9', 'Credit Sesame\n4.1',
       'San Manuel Casino\n3.6', 'Texas Health Huguley Hospital\n4.0',
       'Teasdale Latin Foods\n2.4',
       'Central California Alliance for Health\n3.5',
       'Pilot Flying J Travel Centers LLC\n3.0', "Palermo's Pizza\n3.3",
       'Advanced BioScience Laboratories\n2.7',
       'Echo Global Logistics\n3.4', 'Lockheed Martin\n3.7',
       'Acuity Insurance\n4.8', 'Fareportal\n3.8',
       'Veterans Affairs, Veterans Health Administration\n3.4',
       'Credera\n4.3', 'Spectrum Communications and Consulting\n3.4',
       'NCSOFT\n3.1', 'Dayton Freight Lines, Inc.\n4.3',
       'Community Action Partnership of San Luis Obispo\n2.8',
       'TrueAccord\n3.4', 'DRB Systems\n4.0', 'Corcentric\n3.7',
       'U.Group\n3.5', 'Systems Evolution Inc.\n4.7', 'Eventbrite\n4.4',
       'Centro\n4.1', 'comScore\n2.5', 'SullivanCotter\n4.2', 'NPD\n3.9',
       'Bakery Agency\n4.3',
       'Blue Cross & Blue Shield of Rhode Island\n3.4', 'Boys Town\n3.8',
       'The HSC Health Care System\n3.3', 'Pro-Sphere Tek\n3.4',
       'Ameritas Life Insurance Corp\n3.0', 'Genworth\n3.7',
       'Trace Data\n3.9', 'Clearwater Analytics\n4.2',
       'Tekvalley, Corp.\n4.0', 'BWX Technologies\n3.5', 'Vermeer\n3.9',
       'L&T Infotech\n3.5', 'OceanFirst Financial\n4.3', "Sotheby's\n3.6",
       'Vanda Pharmaceuticals\n2.3', 'CK-12 Foundation\n4.1',
       'Opinion Dynamics\n4.2', 'Applied Information Sciences\n4.6',
       'WK Dickson\n4.4', 'Southwest Research Institute\n3.9', 'Muso',
       'The Integer Group\n2.2', 'Samba TV\n3.3', 'SV Microwave\n3.4',
       'Sumo Logic\n3.8', 'EAB\n3.5', 'Brighthouse Financial\n3.5',
       'Citadel Federal Credit Union\n3.9', 'CALIBRE Systems\n3.7',
       'Motorola Solutions\n3.7', 'Reynolds American\n3.1',
       'Infosys\n3.0', 'Alignment Healthcare\n3.5',
       'Cboe Global Markets\n3.7', 'Guidepoint\n3.2',
       'Cerus Corporation\n2.1', 'Vail Health\n3.7', 'AstraZeneca\n3.9',
       'MathWorks\n4.4', 'MetroStar Systems\n3.4',
       'Audentes Therapeutics\n2.9', 'National Interstate\n3.3',
       'Moser Consulting\n4.5', 'Mcphail Associates\n3.3',
       'Crown Bioscience\n2.4', 'HOVER\n4.8', 'Q2 Solutions\n2.9',
       'Arbella Insurance\n3.4', 'Kronos Bio',
       'Associated Banc-Corp\n3.8', 'Genesys\n4.3', 'Moda Operandi\n1.9',
       'QK\n4.7', 'Santander\n3.1', 'Tivity Health\n3.4', 'BRMi\n4.4',
       'Luminar Technologies\n3.9', 'Emtec, Inc.\n3.9',
       'Veterans United Home Loans\n4.7', 'Praetorian\n4.7',
       'Agios Pharmaceuticals\n3.8', 'Glassdoor\n4.0', 'Assurant\n3.4',
       'F&G\n3.7', 'GreatAmerica Financial Services\n4.6',
       'Acceleron Pharma\n4.4', 'AmeriHealth Caritas\n3.0',
       'Strategic Employment Partners\n4.7',
       'Catholic Health Initiatives\n3.2', 'FLEETCOR\n2.7',
       'Applied Research Laboratories\n3.7', 'Raytheon\n3.7',
       'RTI International\n4.3', 'TRANZACT\n3.6', 'United BioSource\n2.1',
       'Figure Eight\n3.9', 'Royce Geospatial\n5.0', 'Citi\n3.6',
       'Sage Intacct\n4.7', 'Scale AI\n3.5', 'Change Healthcare\n2.7',
       'MZ\n3.4', 'HG Insights\n4.7', '1-800-FLOWERS.COM, Inc.\n2.8',
       'CBS Interactive\n3.5', 'Samsung Research America\n3.7',
       'Lorven Technologies Inc\n4.0', 'CareDx\n2.5', 'Serigor Inc.\n3.9',
       'Leidos\n3.4', 'Beckman Coulter Diagnostics\n3.6',
       'IHS Markit\n3.5', 'ALIN', 'e-IT Professionals Corp.\n3.5',
       'TechProjects\n4.8', 'Biz2Credit Inc\n4.0', 'PeoplesBank\n4.2',
       'Capgemini\n3.8', 'GNY Insurance Companies\n3.7',
       'Conch Technologies, Inc\n4.6', 'Medidata Solutions\n4.3',
       'Quartet Health\n3.9', 'Success Academy Charter Schools\n3.1',
       'AXION Healthcare Solutions\n3.6', 'ExecOnline\n4.2', 'Mteq\n4.0',
       'Brillient\n3.7', 'Entefy\n4.4', 'Trace3\n3.4',
       'Saama Technologies Inc\n3.5', 'Two Sigma\n4.4',
       'Strategic Financial Solutions\n4.0',
       'Remedy BPCI Partners, LLC.\n3.4', 'The Climate Corporation\n3.2',
       'Crossix Solutions\n3.5', 'GSK\n3.9', 'Factual\n4.3',
       'TriNet\n3.3', 'Signpost\n3.9', 'Adobe\n4.0', 'Equian LLC\n3.2',
       'Information Builders\n3.2', 'Greenway Health\n3.0',
       'Confluent\n4.7', 'Life360\n3.9', 'IQVIA\n3.6',
       'Riverside Research Institute\n3.6',
       'Icon Health and Fitness\n3.1', 'Shipt\n3.8',
       'Monte Rosa Therapeutics', 'IntraEdge\n3.4',
       'COUNTRY Financial\n3.8', 'Mentor Graphics\n4.1',
       'Maxar Technologies\n3.7', 'ICW Group\n2.8', 'Exelixis\n3.0',
       'Grand Rounds\n4.2', 'SPINS, LLC\n3.5', 'DTCC\n3.3',
       'Carilion Clinic\n3.7', 'DoubleVerify\n3.2',
       'Mitsubishi Electric Research Labs\n4.6',
       'Rodan and Fields, LLC\n2.2', 'DESC\n3.4',
       'Johns Hopkins Health Care\n3.3',
       'Community Behavioral Health\n3.7', 'FORMA THERAPEUTICS\n3.8',
       'Bridg\n2.7', 'Charter Spectrum\n3.5', 'CompQsoft\n3.4',
       'Solugenix Corporation\n4.3', 'West Coast University\n2.6',
       'SoftBank Robotics\n3.8', 'SkySync\n5.0', 'DatamanUSA, LLC\n3.4',
       '23andMe\n4.0', 'Fivestars\n3.9'], dtype=object)

entries that do not have rating (i.e -1) have just the right form of company name, otherwise the right form would be all characters in the string except last 4

In [127]:
df['Company Name'] = df.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-4], axis=1) 
df['Company Name'].unique()

array(['Tecolote Research', 'University of Maryland Medical System',
       'KnowBe4', 'PNNL', 'Affinity Solutions', 'CyrusOne',
       'ClearOne Advantage', 'Logic20/20', 'Rochester Regional Health',
       '<intent>', 'Wish', 'ManTech', 'Walmart', 'Yesler',
       'Takeda Pharmaceuticals', 'Audible', 'Blueprint Medicines',
       'h2o.ai', 'Nuna', 'Pinnacol Assurance', 'Porch', 'Health IQ',
       'Truckstop.com', 'SMC 3', 'Novetta', 'Pfizer',
       'First Tech Federal Credit Union', 'The Hanover Insurance Group',
       'Amrock', 'Novartis', 'Juniper Networks', 'New England Biolabs',
       'Clarity Insights', 'Esri', 'Systems & Technology Research',
       'Sartorius', 'Lancer Insurance', 'Sauce Labs', 'Persivia',
       'Edgewell Personal Care', 'Equity Residential', 'BPA Services',
       'Visa Inc.', 'Intrado', 'Centauri', 'Caterpillar',
       'Zimmerman Advertising', 'Liberty Mutual Insurance',
       'Torch Technologies, Inc.', 'Swiss Re', 'Northrop Grumman',
       'Netskope', '1904labs', 'The David J. Joseph Company', 'USEReady',
       'Bill.com', 'Pacific Northwest National Laboratory',
       "DICK'S Sporting Goods - Corporate", 'Berg Health',
       'Oversight Systems', 'C Space', 'Numeric, LLC', 'HP Inc.',
       'SpringML', 'Grainger', 'EAG Laboratories', 'The Buffalo Group',
       'Carmeuse', 'GNS Healthcare', 'Peraton', 'Pactera', 'Nurx',
       'webfx.com', 'Johns Hopkins University Applied Physics Laboratory',
       'Productive Edge', 'Excella Consulting', 'Gensco', 'goTRG',
       'NMR Consulting', 'iSeatz', 'Nektar Therapeutics', 'TransUnion',
       'IT Concepts', 'Scientific Research Corporation',
       'General Dynamics Information Technology', 'MITRE', 'DentaQuest',
       'Redjack', '7Park Data', 'Rapid Response Monitoring', 'Trilogy Ed',
       'Gallup', 'CapTech', 'American Axle & Manufacturing',
       'CentralReach', 'Integrate', 'Boys Town Hospital', 'Demandbase',
       'Sapphire Digital', 'Formation', 'Autodesk', "Beck's Hybrids",
       'DrFirst', 'Object Partners', 'L.A. Care Health Plan',
       'Red Ventures', 'Quick Base', 'The E.W. Scripps Company',
       'Upside Business Travel', 'Synagro', 'Alliance Source Testing',
       'Accuride International', 'Full Potential Solutions',
       'Maven Wave Partners', 'First Command Financial Services, Inc.',
       'Pharmavite', 'BioMarin Pharmaceutical', 'Stratagem Group',
       'PA Consulting', 'Gridiron IT', 'Evolve Vacation Rental',
       'The Church of Jesus Christ of Latter-day Saints',
       'Maximus Real Estate Partners', 'Software Engineering Institute',
       'AVANADE', 'PatientPoint', 'BlueCross BlueShield of Tennessee',
       'KSM Consulting', 'Cogo Labs', 'Church & Dwight', 'MassMutual',
       'Genentech', 'Legal & General America', 'Western Digital',
       'Sunovion', 'National Student Clearinghouse', 'Tower Health',
       'State of Wisconsin Investment Board', 'Rubius Therapeutics',
       'OneMagnify', 'IZEA', 'Vionic Group', 'Dodge Data & Analytics',
       'Plymouth Rock Assurance', 'CA-One Tech Cloud', 'Beebe Healthcare',
       'Argo Group US', 'Associated Electric Cooperative', 'PennyMac',
       'Zest AI', 'DECISIVE ANALYTICS Corporation',
       'Karyopharm Therapeutics Inc.', 'Tempus Labs',
       'Recursion Pharmaceuticals', 'P2 Energy Solutions', 'ClearEdge',
       'Tapjoy', 'Credit Sesame', 'San Manuel Casino',
       'Texas Health Huguley Hospital', 'Teasdale Latin Foods',
       'Central California Alliance for Health',
       'Pilot Flying J Travel Centers LLC', "Palermo's Pizza",
       'Advanced BioScience Laboratories', 'Echo Global Logistics',
       'Lockheed Martin', 'Acuity Insurance', 'Fareportal',
       'Veterans Affairs, Veterans Health Administration', 'Credera',
       'Spectrum Communications and Consulting', 'NCSOFT',
       'Dayton Freight Lines, Inc.',
       'Community Action Partnership of San Luis Obispo', 'TrueAccord',
       'DRB Systems', 'Corcentric', 'U.Group', 'Systems Evolution Inc.',
       'Eventbrite', 'Centro', 'comScore', 'SullivanCotter', 'NPD',
       'Bakery Agency', 'Blue Cross & Blue Shield of Rhode Island',
       'Boys Town', 'The HSC Health Care System', 'Pro-Sphere Tek',
       'Ameritas Life Insurance Corp', 'Genworth', 'Trace Data',
       'Clearwater Analytics', 'Tekvalley, Corp.', 'BWX Technologies',
       'Vermeer', 'L&T Infotech', 'OceanFirst Financial', "Sotheby's",
       'Vanda Pharmaceuticals', 'CK-12 Foundation', 'Opinion Dynamics',
       'Applied Information Sciences', 'WK Dickson',
       'Southwest Research Institute', 'Muso', 'The Integer Group',
       'Samba TV', 'SV Microwave', 'Sumo Logic', 'EAB',
       'Brighthouse Financial', 'Citadel Federal Credit Union',
       'CALIBRE Systems', 'Motorola Solutions', 'Reynolds American',
       'Infosys', 'Alignment Healthcare', 'Cboe Global Markets',
       'Guidepoint', 'Cerus Corporation', 'Vail Health', 'AstraZeneca',
       'MathWorks', 'MetroStar Systems', 'Audentes Therapeutics',
       'National Interstate', 'Moser Consulting', 'Mcphail Associates',
       'Crown Bioscience', 'HOVER', 'Q2 Solutions', 'Arbella Insurance',
       'Kronos Bio', 'Associated Banc-Corp', 'Genesys', 'Moda Operandi',
       'QK', 'Santander', 'Tivity Health', 'BRMi', 'Luminar Technologies',
       'Emtec, Inc.', 'Veterans United Home Loans', 'Praetorian',
       'Agios Pharmaceuticals', 'Glassdoor', 'Assurant', 'F&G',
       'GreatAmerica Financial Services', 'Acceleron Pharma',
       'AmeriHealth Caritas', 'Strategic Employment Partners',
       'Catholic Health Initiatives', 'FLEETCOR',
       'Applied Research Laboratories', 'Raytheon', 'RTI International',
       'TRANZACT', 'United BioSource', 'Figure Eight', 'Royce Geospatial',
       'Citi', 'Sage Intacct', 'Scale AI', 'Change Healthcare', 'MZ',
       'HG Insights', '1-800-FLOWERS.COM, Inc.', 'CBS Interactive',
       'Samsung Research America', 'Lorven Technologies Inc', 'CareDx',
       'Serigor Inc.', 'Leidos', 'Beckman Coulter Diagnostics',
       'IHS Markit', 'ALIN', 'e-IT Professionals Corp.', 'TechProjects',
       'Biz2Credit Inc', 'PeoplesBank', 'Capgemini',
       'GNY Insurance Companies', 'Conch Technologies, Inc',
       'Medidata Solutions', 'Quartet Health',
       'Success Academy Charter Schools', 'AXION Healthcare Solutions',
       'ExecOnline', 'Mteq', 'Brillient', 'Entefy', 'Trace3',
       'Saama Technologies Inc', 'Two Sigma',
       'Strategic Financial Solutions', 'Remedy BPCI Partners, LLC.',
       'The Climate Corporation', 'Crossix Solutions', 'GSK', 'Factual',
       'TriNet', 'Signpost', 'Adobe', 'Equian LLC',
       'Information Builders', 'Greenway Health', 'Confluent', 'Life360',
       'IQVIA', 'Riverside Research Institute', 'Icon Health and Fitness',
       'Shipt', 'Monte Rosa Therapeutics', 'IntraEdge',
       'COUNTRY Financial', 'Mentor Graphics', 'Maxar Technologies',
       'ICW Group', 'Exelixis', 'Grand Rounds', 'SPINS, LLC', 'DTCC',
       'Carilion Clinic', 'DoubleVerify',
       'Mitsubishi Electric Research Labs', 'Rodan and Fields, LLC',
       'DESC', 'Johns Hopkins Health Care', 'Community Behavioral Health',
       'FORMA THERAPEUTICS', 'Bridg', 'Charter Spectrum', 'CompQsoft',
       'Solugenix Corporation', 'West Coast University',
       'SoftBank Robotics', 'SkySync', 'DatamanUSA, LLC', '23andMe',
       'Fivestars'], dtype=object)

##### I doubt we'll use company names for anything important, but at least they will be readable for summary statistics

let's now clean the location column and extract state variable from it

In [130]:
df['state'] = df['Location'].apply(lambda x: (x.split(',')[1]).strip())
df.head()

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer,min_salary,max_salary,avg_salary,state
0,0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53000,91000,72000.0,NM
1,1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63000,112000,87500.0,MD
2,2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80000,90000,85000.0,FL
3,3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56000,97000,76500.0,WA
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86000,143000,114500.0,NY

##### How many jobs are in each state?

In [134]:
df.state.value_counts()

CA             151
MA             103
NY              72
VA              41
IL              40
MD              35
PA              33
TX              28
WA              21
NC              21
NJ              17
FL              16
OH              14
TN              13
CO              11
DC              11
WI              10
IN              10
UT              10
AZ               9
MO               9
AL               8
GA               6
DE               6
MI               6
KY               6
CT               5
IA               5
LA               4
OR               4
NE               4
NM               3
KS               3
MN               2
ID               2
RI               1
SC               1
Los Angeles      1
Name: state, dtype: int64

##### Is the job position located at the headquarters?

In [136]:
df['at_headquarters'] = df.apply(lambda x: 1 if x.Headquarters == x.Location else 0, axis=1)

In [137]:
df.head()

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Sector,Revenue,Competitors,hourly,employer,min_salary,max_salary,avg_salary,state,at_headquarters
0,0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53000,91000,72000.0,NM,0
1,1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,Health Care,$2 to $5 billion (USD),-1,0,0,63000,112000,87500.0,MD,0
2,2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,Business Services,$100 to $500 million (USD),-1,0,0,80000,90000,85000.0,FL,1
3,3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56000,97000,76500.0,WA,1
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86000,143000,114500.0,NY,1

##### Age of the company

In [144]:
df['company_age'] = df.apply(lambda x: 2021 - x.Founded if (x.Founded>0) else x.Founded, axis=1)
df.head()

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Revenue,Competitors,hourly,employer,min_salary,max_salary,avg_salary,state,at_headquarters,company_age
0,0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,$50 to $100 million (USD),-1,0,0,53000,91000,72000.0,NM,0,48
1,1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,$2 to $5 billion (USD),-1,0,0,63000,112000,87500.0,MD,0,37
2,2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,$100 to $500 million (USD),-1,0,0,80000,90000,85000.0,FL,1,11
3,3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56000,97000,76500.0,WA,1,56
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86000,143000,114500.0,NY,1,23

##### Let's now process the job description column to see which data science tools job requires. adding new binary columns for each tool would be one way to do it

In [147]:
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df.python_yn.value_counts()

1    392
0    350
Name: python_yn, dtype: int64

In [148]:
#r studio 
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_yn.value_counts()

0    740
1      2
Name: R_yn, dtype: int64

In [149]:
#spark 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

0    575
1    167
Name: spark, dtype: int64

In [150]:
#aws 
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

0    566
1    176
Name: aws, dtype: int64

In [151]:
#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

1    388
0    354
Name: excel, dtype: int64

In [156]:
df.head()

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,max_salary,avg_salary,state,at_headquarters,company_age,python_yn,R_yn,spark,aws,excel
0,0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,91000,72000.0,NM,0,48,1,0,0,0,1
1,1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,112000,87500.0,MD,0,37,1,0,0,0,0
2,2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,90000,85000.0,FL,1,11,1,0,1,0,1
3,3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,97000,76500.0,WA,1,56,1,0,0,0,0
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,143000,114500.0,NY,1,23,1,0,0,0,1

In [153]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Job Description', 'Rating', 'Company Name',
       'Location', 'Headquarters', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'Competitors', 'hourly', 'employer',
       'min_salary', 'max_salary', 'avg_salary', 'state', 'at_headquarters',
       'company_age', 'python_yn', 'R_yn', 'spark', 'aws', 'excel'],
      dtype='object')

In [155]:
df_out = df.drop(['Unnamed: 0'], axis =1)

In [157]:
df_out.to_csv('datasets/glassdoor_data_cleaned.csv',index = False)